
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* common */
body{
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    transition: 1s linear;
}
.container{
    padding-left: 35px;
}
.loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 222;
    background-color: #0d0d0d;
    opacity: 1;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #b33939;
    border-left-color: #000;
    animation: spinner 1s linear infinite;
}
  
@keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4)
}
.gallery-modal{
    opacity: 0;
    position: fixed; 
    z-index: 2000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    cursor: zoom-out;
    background-color: rgba(0,0,0,0.7);
    transition:all .5s ease-in-out;
    visibility: hidden;
}
.modalImg {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: default;
    box-shadow: 5px -4px 14px 4px;
    transform: translate( -50%, -50%);
}
.sec-title h3{
    font-size: 30px;
    position: relative;
    background-color: #b33939;
    display: inline-block;
    padding: 14px 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}
.sec-title h3::before{
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent #b33939 transparent transparent;
}
.sec-title h2{
    font-size: 60px;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
}
.sec-title h2::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 200px;
    height: 4px;
    background-color: #b33939;
}
p{
    font-family:'Lato', sans-serif;
    text-transform: none;
}
.block{
    padding: 50px 0;
}
span.num{
    font-family: 'Bebas Neue';
}

/* start header */
.header{
    background-image: url(../media/header.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 10;
    
}
.header-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 60px;
    background: #191919;
    z-index: 11;
}
.header-head .logo{
    font-family: 'Monoton', cursive;
    background-color: #b33939;
    height:60px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
}

.nav-button{
    padding: 23px 30px;
    position: relative;
    cursor: pointer;
}
.line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    transition: .2s ease-in-out;
    position: relative;
}
.line::before{
    content: '';
    position: absolute;
    width:0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #b33939;
    transition: .2s ease-in-out;
}
.nav-button:hover .line::before{
    width: 100%;
}
.header-nav{
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: .4s ease-in-out;
    transform: perspective(200px) rotateX(-15deg) scale(0.75);
    opacity: 0;
    visibility: hidden;
}
.nav-border{
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #ffffffd2;
}
.nav-border-tl{
    top: 30px;
    left: 7%;
}
.nav-border-tl::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    height: 60px;
    width: 3px;
    background-color: #ffffffd2;
}
.nav-border-br{
    bottom: 115px;
    right: 10%;
}
.nav-border-br::before{
    content: '';
    position: absolute;
    bottom: 3px;
    right: 0;
    height: 60px;
    width: 3px;
    background-color: #ffffffd2;
}
.nav-inner{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    width: 100%;
    transition: .4s ease-in-out;
}
.nav-inner:before {
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    left: 20%;
    top: 50%;
    z-index: 2;
    opacity: 0.5;
    background-color: #b33939;
    transform: rotate(-45deg);
}
.nav-inner .nav-link{
    color: #fff;
    padding: 2px;
    transition: .4s ease-in-out;
}
.nav-inner .nav-link.active ,
.nav-inner .nav-link.active:hover{
    color: #b33939;
    background: none;
}
.nav-inner .nav-link:hover{
    background-color: #ffffff47;
}
.nav-inner .subnav i{
    color: #fff;
    font-size: 10px;
    position: absolute;
    right: 200px;
    top: 15px;
    transition: .4s ease-in-out;
}
.nav-inner .subnav ul{
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px;
    transition: .2s ease-in-out;
    display: none; 
}
.nav-inner .subnav:hover i{
    transform: rotate(90deg);
    color: #b33939;

}
.nav-inner .subnav:hover ul{
    display: block;
}
.header-title{
    position: absolute;
    top: 50%;
    left: 59.5%;
    transform: translate(-50% , -50%);
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    color: #fff;
    border-left: 4px solid #b33939;
    padding-left: 10px;
}
.header-title h1{
    font-size: 85px;
    width: 100%;
    line-height: 1;
}
.header-title a{
    font-size: 23px;
    color: #fff;
    font-family: 'Raleway' , sans-serif;
    font-weight: bold;
    transition: .3s ease-in-out;
}
.header-title a:hover{
    text-decoration: none;
    color: #b33939;
}

/* End Header */
/* Start Fixed Coulmn */
.fixed-col{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    z-index: 5;
}
.bg{
    background-image: url(../media/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100%;
    transition: .2s; 
}
.bg::before{
    content: '';
    position: absolute;
    left: 6.36%;
    bottom: 7%;
    width: 10px;
    height: 70%;
    background-color: #ffffffd2;
}
.bg::after{
    content: '';
    position: absolute;
    left: 8%;
    bottom: 7%;
    width: 70%;
    height: 10px;
    background-color: #ffffff80;
}
.fixed-title{
    position: absolute;
    bottom: 12%;
    left: 15%;
    color: #fff;
    text-align: left;
}
.fixed-title h1{
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 0;
    max-width: 100px;
    position: relative;
}
.fixed-title h1::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 5px;
    width: 300px;
    background-color: #b33939;
}
/* End Fixed Coulmn */

/* Start R.H.S */

.r-h-s{
    float: right;
    width: 60%;
}

/* Start navigation */
.navigation{
    position: sticky;
    top: -1px;
    height: 60px;
    background-color: #191919;
    width: 100%;
    z-index: 5;
}
.navigation a.nav-link{
    color: #fff;
    font-size: 13px;
    background-color: #292929;
    padding: 12px 27px !important;
    position: relative;
    z-index: 1;
}
.navigation a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #b33939;
    z-index: -1;
    transition:all .2s linear;
}

.navigation a.active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #b33939;
    z-index: -1;
    transition:all .2s linear;
}
.navigation a.active {    
    color: #000;
}

/* End Navigation */

/* Start About Me */

.about{
    margin-top: 50px;
}
.info span.name{
    font-size: 15px;
    font-weight: bold;
}
.info h2{
    font-size: 29px;
    font-weight: bold;
}
.info button{
    background: none;
    border: none;
    background-color: #b33939;
    color: #fff;
    margin-top: 30px;
    padding: 12px 48px;
    position: relative;
    font-size: 14px;
}
.info i{
    background-color: #292929;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0px;
    width: 0px;
    line-height: 45px;
    opacity: 0;
    transition: .2s ease-in-out;
}
.info button:hover i{
    width: 35px;
    opacity: 1;
}
.counter{
    padding-top: 80px;
}
.counter h3{
    background-color: #b33939;
    padding: 25px 50px;
    color: #000;
    height: 110px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    margin-top: 25px;
}
.counter h3::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #b33939;
}
.counter span{
    display: block;
}
.counter .timer{
    font-size: 80px;
    font-family: 'Bebas Neue';
    font-weight: bold;
}
.counter .time-title{
    font-size: 15px;
}
/* End About */

/* Start Resume */
.achiv-head{
    transition: .4s ease-in-out;
    cursor: pointer;
    height: 70px;
}
.achiv-head i{
    font-size: 27px;
    color: #b33939;
    padding-right: 20px;
}
.achiv-head .date{
    font-size: 25px;
}
.achiv-head .achiv-title{
    font-size: 19px;
    font-weight: bold;
}
.achiv-head:hover{
    transform: translateX(15px);
}
hr{
    transition: .4s ease-in-out;
}
.achiv-head:hover hr{
    border-top: 1px solid rgba(0,0,0,0.3);
}
.achiv-inner{
    height: 0;
    overflow: hidden;
}
.achiv-inner h6{
    font-family: sans-serif;
    font-size: 16px;
}
.achiv-inner ul{
    display: inline-block;
    padding-left: 17px;
    font-family: sans-serif;
    list-style: none;
    margin-top: 15px;
}
.achiv-inner ul li{
    float: left;
    list-style: disc;
    margin-right: 35px;
    font-size: 13px;
}
.achiv-inner p{
    font-size: 15px;
}
/* End Resume */

/* Start Service  */
.buttons{
    margin: 40px 36px;
    text-align: right;
}
.buttons i{
    font-size: 15px;
    background-color: #b33939;
    color: #fff;
    padding: 10px 17px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.buttons i:hover{
    background-color: #fff;
    color: #000;
}
.outer-slider{
    overflow: hidden;
}
.slider-stage{
    width: 1080px;
    transform: translateX(0px);
    transition: all 1s ease;
}
.slider-item{
    width: 270px;
    margin-right: 15px;
    float: left;
    border: 1px solid rgba(0,0,0,0.1);
}
.slider-img{
    position: relative;
    width: 100%;
}
.slider-img img{
    height: 200px;
}
.inner-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .4s ease-in-out;
}
.inner-hover .over-lay{
    background-color: rgba(0, 0, 0, 0.7);
}
.inner-hover i{
    color: #b33939;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 23px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.slider-img:hover .inner-hover{
    opacity: 1;
}
.slider-img:hover .inner-hover i{
    top: 50%;
}
.inner-hover i:hover{
    transform: rotate(0);
}
.slider-content{
    font-family: sans-serif;
    padding: 12px;
}
.slider-content h6{
    font-size: 15px;
    letter-spacing: 1px;
}
.slider-content p{
    font-size: 13px;
    padding-top: 10px;
    line-height: 1.6;
    color: #000000c2;
    text-align: left;
}
.slider-content ul{
    font-size: 13px;
    padding-left: 0;
}
.slider-content .list-group-item{
    border: none;
}
.slider-content .price{
    color: #b33939;
    border: 2px solid #a19191;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 7px;
}

/* End Service */

/* Start Skills */

.skill-bar{
    padding-top: 30px;
}
.skill-bar-title , 
.progress {
    width: 60%;
    position: relative;
}

.skill-bar-title{
    margin-bottom: 8px;
}
.skill-bar-title .skill-type{
    font-size: 13px;
    color: #79808b;
    letter-spacing: 2px;
    font-weight: 600;
}
.skill-bar-title .perc{
    position: absolute;
    top: -1px;
    left: 0;
    background-color: #b33939;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    padding: 2px 5px;
}
.skill-bar-title .perc::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 36%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #b33939;
}
.progress {
    margin-bottom: 30px;
}
.progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #b33939;
}

/* End Skills */

/* Start Clints */
.clints{
    position: relative;
}
.clints .left{
    position: absolute;
    top: 70%;
    left: 4.6%;
    background-color: #b33939;
    padding: 11px 15px;
    z-index: 2;
    cursor: pointer;
    transition: .2s ease-in-out
}
.clints .right{
    position: absolute;
    top: 70%;
    right: 5%;
    background-color: #b33939;
    padding: 11px 15px;
    z-index: 2;
    cursor: pointer;
    transition: .2s ease-in-out
}
.clints .right:hover ,
.clints .left:hover {
    background-color: #fff;
    color: #000;
}
.clints-slider{
    overflow: hidden;
    width: 750px;
    margin: 80px 0 0 45px;
}
.slides{
    width: 3000px;
    display: flex;
}
.slide{
    width: 750px;
    transition: all 1s ease;
    position: relative;
}
.slide::before{
    content: '';
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 50px;
    height: 4px;
    background-color: #b33939;
}
.slide::after{
    content: '';
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 4px;
    height: 50px;
    background-color: #b33939;
}
.slide .person-name{
    font-size: 28px;
    margin-top: 15px;
}
.slide p{
    font-style: italic;
    font-size: 15px;
    max-width: 94%;
}
.slide span{
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #b33939;
    font-weight: 500;
    border-bottom: 3px solid #000;
    padding-bottom: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.slide span:hover{
    color: gray;
}

/* End Clints */

/* Start Footer */

footer{
    background-color: #000;
    margin-top: 100px;
    background-attachment: scroll;
    height: 280px;
}
footer .footer-head h4{
    position: relative;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
footer .footer-head h4::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: #b33939;

}
footer .social i{
    background-color: #b33939;
    color: #000;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
footer .social i:hover{
    transform: scale(1.18);
    background-color: #000;
    color: #b33939;
}
footer span.details{
    display: block;
    color: #5f6266;
    font-size: 13px;
    font-family: sans-serif;
    margin-bottom: 10px;

}
footer span.details i{
    color: #b33939;
    margin-right: 4px;
}
footer .tweet{
    font-size: 13px;
    color: #5f6266;
    font-family: sans-serif;
}
footer .tweet span{
    color: #b33939;
    cursor: pointer;
}
/* End Footer */

/*** Start Work Page ***/

.work .r-h-s{
    background-color: #191919;
}
.box{
    margin-top: 56px;
    margin-left: 5px;
}
.work figure{
    margin: 4px 4px 0 0;
    float: left;
    overflow: hidden;
    position: relative;
}
.small{
    width: 298px;
    height: auto;
}
.work .hover-elem{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.hover-elem .over-lay{
    background-color: rgba(0, 0, 0, 0);
    transition: .1s;
}
.hover-elem .arrow{
    color: #b33939;
    position: absolute;
    top: 0;
    left: 80%;
    font-size: 23px;
    transform: rotate(45deg);
    cursor: pointer;
    opacity: 0;
    transition: .4s;
}
.hover-elem .arrow:hover{
    transform: rotate(0);
}
.hover-elem .img-title{
    position: absolute;
    bottom: -55px;
    left: 8%;
    transition: .4s;
}
.img-title h5{
    color: #fff;
    font-size: 15px;
    margin:0 40px;
    letter-spacing: 1px;
    font-weight: lighter;
    padding-top: 8px;
    border-top:2px solid #b33939 ;
}
.img-title i{
    padding-right: 10px;
    font-size: 24px;
    color: #fff;
}
.img-title span{
    color: #b33939;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
}

.work figure:hover .hover-elem .over-lay{
    background-color: rgba(0, 0, 0, 0.7);
}

.work figure:hover .hover-elem .arrow{
    opacity: 1;
    top: 25%;
}

.work figure:hover .hover-elem .img-title{
    bottom: 20px;
}

.work footer{
    background-color: #000;
    padding-top: 25px;
    background-attachment: scroll;
    height: 280px;
    margin-top: 0;
}

/* End Work Page */


/**** Start Media Query  *****/

@media only screen and (max-width: 750px){
    /* container */
    .container{
        padding-left: 15px;
    }
    /* container */

    /* Header */

    .header-head{
        width: 100%;
    }
    .header-head .logo{
        font-size: 25px;
    }
    .header-nav{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /* Header */

    /* fixed col */

    .fixed-col{
        display: none;
    }

    /* Fixed Col */

    /* R-H-S */

    .r-h-s{
        width: 100%;
    }

    .work .nanigation{
        top: 60px;
    }
    /* R-H-S */
    
    /* counter */

    .counter {
        text-align: center;
    }
    .counter h3{
        width: 50%;
        height: 85px;
        padding: 12px;
    }

    /* counter */

    /* skills */

    .skill-bar-title,
    .progress{
        width: 100%;
    }

    /* skills */

    /* Clints */
    .clints .right ,
    .clints .left {
        top: 50%;
    }

    .clints-slider{
        width: 465px;
        margin: 0;
    }
    .slides{
        width: 1860px;
    }
    .slide{
        width: 465px;
    }
    .slide img{
        width: 300px;
        height: auto;
        margin-left: 75px;
    }

    /* Clints */

    /* work page */

    .small{
        width: 100%;
        height: auto;
    }

    /* Work page */

    /* Footer */
    footer{
        height: 600px !important;
    }
    footer .footer-head{
        margin-top: 20px;
    }
    footer .footer-head h4::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 15%;
        height: 3px;
        background-color: #b33939;
    
    }
    /* Footer */

}



/**** End Media Query  *****/